<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="HDDIndexer"
    Publisher="CN=Developer"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="6F2FF6AD-6CE3-4B7E-9B9A-6C8E8A6B5F5E" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HDD Indexer</DisplayName>
    <PublisherDisplayName>Developer</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>HDD Indexer - File Catalog Manager for Windows 11</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="HDD Indexer"
        Description="File Catalog Manager for Windows 11"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.scale-200.png"
        Square44x44Logo="Assets\Square44x44Logo.scale-200.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.scale-200.png"  Square71x71Logo="Assets\Square150x150Logo.scale-200.png" Square310x310Logo="Assets\Square150x150Logo.scale-200.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.scale-200.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
    <Capability Name="internetClient" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="documentsLibrary" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="videosLibrary" />
    <uap:Capability Name="musicLibrary" />
  </Capabilities>
</Package>