<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="HDDIndexer"
    Publisher="CN=YourPublisher"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="12345678-1234-1234-1234-123456789012" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>HDD Indexer</DisplayName>
    <PublisherDisplayName>Your Company</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>Professional hard drive cataloging application for Windows 11</Description>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="HDD Indexer"
        Description="Professional hard drive cataloging application"
        BackgroundColor="transparent"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" />
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>

      <Extensions>
        <!-- File type associations -->
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="hddindex">
            <uap:SupportedFileTypes>
              <uap:FileType>.hddidx</uap:FileType>
              <uap:FileType>.backup</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>HDD Index File</uap:DisplayName>
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
            <uap:InfoTip>HDD Indexer catalog file</uap:InfoTip>
          </uap:FileTypeAssociation>
        </uap:Extension>

        <!-- Protocol activation -->
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="hddindexer">
            <uap:DisplayName>HDD Indexer Protocol</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>

        <!-- Toast notifications -->
        <uap:Extension Category="windows.toastNotificationActivation">
          <uap:ToastNotificationActivation ToastActivatorCLSID="12345678-1234-1234-1234-123456789012" />
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <rescap:Capability Name="broadFileSystemAccess" />
    <rescap:Capability Name="runFullTrust" />
    <uap:Capability Name="removableStorage" />
    <uap:Capability Name="documentsLibrary" />
  </Capabilities>
</Package>